/*
!/application
/application/*

!/application/libraries
!/application/config

/application/libraries/*
/application/config/*

!/application/libraries/Less4ci*
!/application/config/less4ci*

/assets
/system
.gitignore
!.gitmodules
!README.md
.index.php
.DS_Store